.head{
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
}
.number{
font-size:1.5rem;
font-weight: 800;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
}
.percent{
font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
}
.comp3-head{
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.name-head{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
/* styles.css */
.bar-chart-container .chartjs-render-monitor .chartjs-bar {
    border-radius: 40px !important; /* Adjust the border radius as needed */
  }
  